img {
    width: 200px;
    height: 300px;
  }
  
  p {
    color: black;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  iframe {
    height: 300px;
    aspect-ratio: 16 / 9;
  }
  
  body {
    background-color: whitesmoke;
  } 

#searchbar{
  width: 100vw;
  height: 5vw;
}

  select{
    border-radius: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  button{
    background-image: linear-gradient(to right, lightgreen, skyblue);
    border-radius: 20px;
    border:0px;
    width:50px;
    height:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  button:hover{
    background-image: linear-gradient(to right, green, blue);
    color:white;
  }

  input{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }